body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    color: #141414;
}

h1, h2, h3, p {
    margin: 0rem;
}

ul {
    margin: 0rem;
    padding: 0rem;
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}
.caption-experience {
    font-size: 8rem;
    text-transform: uppercase;
    line-height: 1;
    word-break: break-all;/*qubrar a palavra*/
    max-width: 4ch;
}

@media (max-width: 840px) {
    .caption-experience {
        font-size: 3rem;
        text-transform: capitalize;
        max-width: initial !important;
    }
}

@media (max-width: 460px) {
    .caption-experience {
        font-size: 2rem;
    }
}

